*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #44A08D, #093637)
}
.container{
    width: 100%;
    background-color: gray;
    align-items: center;
    max-width: 550px;
    background-color: rgb(245, 242, 242);
    padding: 50px 60px 70px;
    border-radius: 25px;
}
.container .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 261px;
    background: linear-gradient(150deg, #44A08D, #093637)
}
.container form .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user .box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user .box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user .box input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(73, 73, 73);
    padding-left: 15px;
    transition: all 0.3s ease;
}
.user .box input :focus,
.user .box input :valid{
    border-color: #093637;
}
.serch, .gender {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
